@model Experience


@{
    ViewData["Title"] = "Details of experience";
    var photoPath = "~/Images/Products/" + (Model.PhotoPath ?? "noImage.png");
}

<div class="container thumbnail text-center" style="background-color:whitesmoke; margin-top:21px;">
    <h2>@Model.Product.ProductName</h2>
    <img width="350" height="350" class="card-img-top" src="@photoPath" asp-append-version="true" />
    <div class="text-left">
        <div style="border:inset; padding:2px; margin-top:5px;">
            <label class="text-muted">Korisničko iskustvo s ovim proizvodom:</label>
            <p>@Model.Describe</p>
        </div>
        <h4>Ocjena: @Model.Evaluation</h4>
        <h4>Preporuka: @Model.Recommendation</h4>
        <hr />
        <a class="btn btn-primary"
           asp-controller="Experience"
           asp-action="Create"
        >
            Podijeli svoje iskustvo s ovim proizvodom
        </a>
    </div>
</div>

