@model Experience

@{
    var photoPath = "";
    if (Model.PhotoPath != null)
    {
        photoPath = "~/images/products/" + (Model.PhotoPath ?? "noImage.png");
    }

    else
    {
        photoPath = "~/images/products/noImage.png";
    }
    var productName = "";
    if (Model.Product.ProductName.Length > 30)
    {
        productName = Model.Product.ProductName.Substring(0, 26) + "...";
    }

    else
    {
        productName = Model.Product.ProductName;

    }
}

<div class="col-sm-4 col-lg-4 col-md-4">

    <div class="thumbnail">
        <div class="text-center">
            <h4>@productName</h4>
        </div>

        <img style="height:150px; margin-bottom:10px;" src="~/images/products/@(Model.PhotoPath ?? "noImage.png")" class="img-responsive" alt="" />
        <div style="display:inline;" class="caption">
            <img style="display:inline;" src="~/images/star.png" alt="">
            <p style="display:inline"> @Model.Evaluation/10</p>
            <p class="pull-right" style="display:inline;font-size:smaller;">@Model.Date.ToString("dd MMM yyyy")</p>
        </div>
        <hr />
        <div class="text-right" style="margin-bottom:10px;">
            <a class="btn btn-warning"
               asp-controller="Experience"
               asp-action="Edit"
               asp-route-experienceID="@Model.ExperienceID">
                Ažuriraj
            </a>


            <form method="post" style="display:inline" asp-action="Delete" asp-controller="Experience" asp-route-experienceID="@Model.ExperienceID">
                

                <span id="confirmDeleteSpan_@Model.ExperienceID" style="display:none">
                    <span><b>Potvrda brisanja?</b></span>
                    <button type="submit" class="btn btn-danger">Da</button>
                    <a href="#" class="btn btn-primary"
                       onclick="confirmDelete('@Model.ExperienceID', false)">Ne</a>
                </span>

                <span id="deleteSpan_@Model.ExperienceID">
                    <a href="#" class="btn btn-danger"
                       onclick="confirmDelete('@Model.ExperienceID', true)">Briši</a>
                </span>
            </form>


        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ConfirmDelete.js"></script>
}